<template name="channel">
  {{#contentFor 'header'}}
  <h1>{{channel.name}}</h1>
  <ul>
    {{#each messages}}
    <h2>{{date}}</h2>
    <li>
      <div>{{user.username}} {{time}}</div>
      {{#markdown}}{{message}}{{/markdown}}
    </li>
    {{/each}}
  </ul>
  <form>
    <textarea cols="100" rows="1"></textarea>
  </form>
  {{/contentFor}}

  {{#contentFor 'footer'}}
    {{> messageForm}}
  {{/contentFor}}

  {{>home}}
</template>

<template name="messageForm">
  <form>
    <textarea cols="100" rows="1"></textarea>
  </form>
</template>